p{
  /* background-color: aquamarine; */
  margin: auto;
}

.titles{
  text-align: center;
}

.menu{
  float: right;
  height: inherit;
}

.contact{
  margin: auto;
}

.logoContainer{
  text-align: center;
}

.link_logo{
  margin-left: 15px;
  margin-right: 15px;
}